<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mapInfoFile" value="/Users/zhang/Projects/tile-server/TileServer/map.json" />
    <add key="cacheFolder" value="/Volumes/arcgis/directories/arcgiscache/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
