<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mapjson" value="D:\GDEIC Project\TileServer\TileServer\map.json" />
    <add key="cachePath" value="E:\\MapDown\\{0}\\Layers\\_alllayers" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>